#content {
  width: 650px;
  margin-left: auto;
  margin-right: auto;
}
#content h2 {
  text-align: center;
}
#content .logo {
  text-align: center;
}
#content .logo img {
  max-width: 100%;
}
.center {
  text-align: center;
}
.cond-lagless,
.cond-dandori,
.cond-renove {
  display: none;
}

.payment-schedule {
  width: 526px;
  height: 420px;
  background-repeat: no-repeat;
  background-size: 100%, auto;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 32px;
}
.payment-schedule > span {
  position: absolute;
  font-size: 16px;
  white-space: nowrap;
  width: 100px;
  text-align: center;
}
.payment-schedule .service-message-1 {
  color: #d32c25;
  text-align: center;
  width: 300px;
}
.payment-schedule .service-message-2 {
  border-bottom: 1px solid #fff;
  color: #fff;
  width: auto;
  padding-left: 8px;
  padding-right: 8px;
}
.payment-schedule .closing {
  color: #d32c25;
}
.payment-schedule .closing.more {
  color: #fff;
}
.payment-schedule .original {
  color: #d32c25;
}
.payment-schedule .original.more {
  color: #fff;
}
.payment-schedule .lag-message {
  font-size: 13px;
  color: #d32c25;
}
.payment-schedule .early {
  color: #ff6;
}
.payment-schedule .deadline {
  color: #fff;
}
.payment-schedule .effect-message {
  color: #ff6;
}

#schedule {
  background-image: url(../images/schedule.png);
}
#schedule .closing {
  top: 60px;
  left: -10px;
}
#schedule .original {
  top: 60px;
  left: 430px;
}
#schedule .lag-message {
  top: 105px;
  left: 80px;
  width: 360px;
}
#schedule .service-message-1 {
  top: 165px;
  left: 110px;
}
#schedule .service-message-2 {
  top: 216px;
  left: 12px;
}
#schedule .closing.more {
  top: 270px;
  left: -10px;
}
#schedule .deadline {
  top: 270px;
  left: 55px;
}
#schedule .early {
  top: 270px;
  left: 152px;
}
#schedule .original.more {
  top: 270px;
  left: 430px;
}
#schedule .effect-message {
  top: 305px;
  left: 288px;
  font-size: 13px;
  width: 120px;
}

#schedule-closing-payment-same {
  background-image: url(../images/schedule-closing-payment-same.png);
}
#schedule-closing-payment-same .closing {
  top: 60px;
  left: 73px;
}
#schedule-closing-payment-same .original {
  top: 60px;
  left: 415px;
}
#schedule-closing-payment-same .lag-message {
  top: 110px;
  left: 170px;
  width: 250px;
}
#schedule-closing-payment-same .service-message-1 {
  top: 155px;
  left: 115px;
}
#schedule-closing-payment-same .service-message-2 {
  top: 205px;
  left: 25px;
}
/* #schedule-closing-payment-same .closing.more {
  top: 235px;
  left: 8px;
} */
#schedule-closing-payment-same .deadline {
  top: 235px;
  left: 8px;
}
#schedule-closing-payment-same .early {
  top: 235px;
  left: 73px;
}
#schedule-closing-payment-same .original.more {
  top: 235px;
  left: 420px;
}
#schedule-closing-payment-same .effect-message {
  top: 270px;
  left: 223px;
  width: 170px;
  font-size: 16px;
}

table,
th,
td {
  border: 1px solid #000;
  border-collapse: collapse;
}
thead th {
  color: #fff;
  background-color: #666;
  line-height: 30px;
}
tbody td {
  padding: 8px;
  line-height: 50px;
}
tbody td.focus {
  background-color: #fcc;
}
button.act {
  background-color: #f00;
  color: #fff;
  border-radius: 4px;
  width: 260px;
  height: 44px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}
button.act:hover {
  background-color: #fcc;
}
#float_act {
  position: fixed;
  top: 400px;
  right: 40px;
  width: 200px;
  box-shadow: 0px 0px 6px 3px #666;
  padding: 0px;
  padding-top: 24px;
  background-color: #fff;
}
#float_act div {
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}
#float_act a {
  text-decoration: none;
}
#float_act button.act {
  width: 160px;
  display: block;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}
.red-text {
  color: #d32c25;
}
