#header-logo {
  background-image: url("../images/keban_site_top.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  /* 画像ファイルの縦横に合わせる */
  max-width: 960px;
  height: 258px;
}

.grid {
  display: grid;
}

/* 表示したい文字数が9文字+余裕を持たせて0.8 */
.wfi-campaign-grid-outer {
  grid-template-columns: 9.8rem 1fr;
}

.wfi-campaign-grid-inner {
  grid-template-columns: 9.8rem 1fr;
}

.grid-title {
  text-align: right;
}

.contact-card {
  width: 24rem;
}

.contact-card p {
  margin-bottom: 0;
}

#content {
  width: 650px;
  margin-left: auto;
  margin-right: auto;
}

h3 {
  margin-top: 0.6rem;
  margin-bottom: 0.6rem;
}

#content .logo {
  text-align: center;
  margin-bottom: 2rem;
}

#content .logo img {
  max-width: 100%;
}

.center {
  text-align: center;
}

table.schedule,
th,
td {
  border: 1px solid #000;
  border-collapse: collapse;
}

table.schedule td {
  text-align: center;
}

thead th {
  background-color: #e0e0e0;
  line-height: 30px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

tbody td {
  padding: 6px;
}

tbody td.border-none {
  border: 0;
}

tbody td.focus {
  background-color: #fcc;
}

.small {
  font-size: 0.8rem;
}

.paragraph {
  margin-bottom: 5rem;
}

.block {
  margin-bottom: 2rem;
}

div.flex {
  display: flex;
}

div.flex.align.stretch {
  align-items: stretch;
}

div.flex.justify.center {
  justify-content: center;
}

div.flex.gap {
  gap: 1.5rem;
}

a {
  text-decoration: none;
}

button.act {
  display: block;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  background-color: #f00;
  color: #fff;
  border-radius: 4px;
  width: 280px;
  height: 100%;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

button.act:hover {
  background-color: #fcc;
}

div#unavailable {
  background-color: #ddd;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

div#unavailable > div {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.emphasize.blue {
  color: #0055c4;
}

.emphasize.red {
  color: #dc3545;
}

.emphasize.bold {
  font-weight: bold;
}

span.wrap-block {
  display: inline-block;
}

p.wrap-lines {
  margin: 0.2rem;
}
