#header-logo {
    background-image: url('../images/lagless.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    /* 画像ファイルの縦横に合わせる */
    max-width: 366px;
    height: 167px;
}
